.c-cart{
  position: absolute;
  left: 45%;

}
.h1-cart{
  color: #374259;
  text-align: center;
}
.h2-cart{
  color: #374259;
  text-align: center;

}
.cart-item-image{
  align-self: center;
  width: 300px;
  height: auto;
  border-radius:10px ;
  
  
  
}
.cart-item-details{
  align-self: center;
  position: relative;
  top: -10rem;
  left: 20rem;
  text-align: center;
  border-radius: 10px;
  min-width: 100px auto;
  min-height: 100px;
  max-width: 300px;
  max-height: 300px;
  background-color: #374259;
  color: #F2D8D8;
}