.c-cart{
  position: absolute;
  left: 45%;

}
.h1-cart{
  color: #374259;
  text-align: center;
}
.h2-cart{
  color: #374259;
  text-align: center;

}
.cart-item-image{
  align-self: center;
  width: 300px;
  height: auto;
  border-radius:10px ;
  
}
.totalCart{
  align-self: center;
  position: relative;
  top: -30rem;
  left: 42rem;
  text-align: center;
  border-radius: 10px;
  height: 500px;
  min-height: 100px auto;
  min-width: 100px auto;
  max-width: 600px;
  max-height: 600px;
  
  color:#374259; 
  position: absolute;
  top: 10rem;
  right: auto;
}
.cardBody{
  color: #F2D8D8; 

}
.cart-item-details{
  align-self: center;
  position: relative;
  top: -10rem;
  left: 20rem;
  text-align: center;
  border-radius: 10px;
  min-width: 100px auto;
  min-height: 100px;
  max-width: 300px;
  max-height: 300px;
  background-color: #374259;
  color: #F2D8D8;
  
}
.cart-item{
  list-style-type: none;
}
.cartOne{
  padding: 10px 18px 10px 20px;
  margin-left: 10px;
  background-color: #F2D8D8;
  color: #374259;
  border: none;
  border-radius: 9px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}
.cart1:hover{
  background-color: #2c3550;;
  color: #F2D8D8;
}
.cartRemoveBtn{
  padding: 10px 18px 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  background-color:#374259;
  color:#F2D8D8;
  border: none;
  border-radius: 9px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  

}

.cartOneBtn{
  padding: 10px 18px 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  background-color:green;
  color:white;
  border: none;
  border-radius: 9px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;

}
.cartOneBtn:hover{
  background-color: #2c3550;;
  color: #F2D8D8;
}
.cartOne{
  padding: 10px 18px 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #F2D8D8;
  color: #374259;
  border: none;
  border-radius: 9px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  list-style: none;

}
.cartOne:hover{
  background-color: #2c3550;;
  color: #F2D8D8;
  
}
.checkGuest{
  position: relative;
  top: 15rem;
  background-color: green;
  color: #374259;


}
.checkGuest:hover{
  color: #F2D8D8;
  background-color: #374259;
}
.totalButton{
  background-color: #374259;
  color: #F2D8D8;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}
.cart-container{
  width: 100%; 
  max-width: 1000px;
  margin-left: 1px; 
  margin-right: 10px; /* This will center your container */
  padding: 1 20px;
}