.bg-myred{
  background-color: #374259;
  color:#F2D8D8;
  font-size: larger;
  -webkit-box-shadow: 0px 2px 13px 0px #7bde11; 
  box-shadow: 0px 2px 13px 0px #000000;
  
}


.space-btwn{
  margin-left: 70px;
 
}
.space-ed{
  margin-right: auto;
}
.nav-name{
  color:#F2D8D8;
  align-items: center;

}
