General Styles
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  padding: 20px 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  top: 80px;
}

/* Header Styles */
.welcome {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #374259;
  
}

/* Paragraph/Mission Statement Styles */
.misson-statement {
  position: relative;
  top: 40px;
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
  margin-bottom: 20px;
  text-align: justify;
  word-spacing: 2px;
  
}

.misson-statement:first-letter {
  font-size: 1.5rem;
  font-weight: bold;
}

/* If you have links, you can style them as */
a {
  color: #374259;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #2a2f40;
}
.Award{
  position: relative;
  left: 45%;
  bottom: 2rem;
  top: 2rem;
}